* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(white, #f0f1ff);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    margin: 16px;
    /* margin: auto; */
}

button {
    text-decoration: none;
    border: none;
    border-radius: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1 / 2;
    margin-bottom: 38px;
}

.header__button {
    background-color: #13183f;
    color: white;
    padding: 11px 24px;
}

.header__skilled {
    color: #13183F;
    font-size: 28px;
    font-weight: 800;
}

.heroLeft {
    grid-row: 2 / 3;
} 

.heroRight__image {
    width: 100%;
}

.heroLeft__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 50.4px;
    margin-bottom: 26px;
    /* min-width: 343px; */
}

.heroLeft__content {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    /* text-align: center; */
}

.heroLeft__button {
    line-height: 26px;
    font-size: 16px;
    padding: 15px 38px;
    background: linear-gradient(#ff6f48 0%,#F02aa6 100%);
    margin-top: 24px;
    margin-bottom: 46px;
}

.cards {
    /* margin-top: 66px; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.cards__top {
    background: linear-gradient(180deg, #ff6f48 0%,#F02aa6 100%);
    color: white;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    border-radius: 10px;
    padding: 24px 29px 32px 28px;
    
}

.cards__card {
    padding-left: 28px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

.cards__image {
    position: relative;
    /* left: 20px; */
    top: -30px;
}

.cards__title {
    color: #13183f;
    font-weight: 800;
    font-size: 20px;
    line-height: 25.2px;
    margin-bottom: 16px;
    margin-top: -15px;
}

.cards__content {
    font-weight: 500;
    color: #83869a;
    font-size: 16px;
    line-height: 26px;
    /* text-align: center; */
}

.cards__button {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #f74780;
    background-color: white;
    margin-top: 24px;
    margin-bottom: 32px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #13183f;
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 100%;
}
.footer__skilled {
    color: white;
    font-size: 28px;
    font-weight: 800;
}

.footer__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    padding: 10px 24px;
    background: linear-gradient(#4851ff, #f02aa6);
}

@media only screen and (max-width: 360px) {
    .heroLeft__title {
        font-size: 34px;
    }
}