* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* height: 100%; */
    min-width: 300px;
}
body {
    height: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(white, #f0f1ff);
    
}

.container {
    display: grid;
    grid-template-columns: min-content(200px);
    grid-template-rows: auto-fit;
    /* max-width: 100%; */
    margin: 16px;
    /* margin: auto; */
}

button {
    text-decoration: none;
    border: none;
    border-radius: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1 / 2;
    margin-bottom: 38px;
}

.header__button {
    background-color: #13183f;
    color: white;
    padding: 11px 24px;
    z-index: 20;
}

.header__button:hover {
    background-color: #666ca3;
}

.header__skilled {
    color: #13183F;
    font-size: 28px;
    font-weight: 800;
}

.heroLeft {
    grid-row: 2 / 3;

} 

.heroRight__image {
    max-width: 100%;
    /* text-align: center; */
}

.heroRight {
    text-align: center;
}

.heroLeft__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 50.4px;
    margin-bottom: 26px;
    min-width: 200px;
    /* min-width: 343px; */
}

.heroLeft__content {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    /* text-align: center; */
}

.heroLeft__button {
    line-height: 26px;
    font-size: 16px;
    padding: 15px 38px;
    background: linear-gradient(#ff6f48 0%,#F02aa6 100%);
    margin-top: 24px;
    margin-bottom: 46px;
}

.heroLeft__button:hover {
    opacity: 50%;
}

.cards {
    /* margin-top: 66px; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.cards__top {
    background: linear-gradient(180deg, #ff6f48 0%,#F02aa6 100%);
    color: white;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    border-radius: 10px;
    padding: 24px 29px 32px 28px;
    
}

.cards__card {
    padding-left: 28px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

.cards__image {
    position: relative;
    /* left: 20px; */
    top: -30px;
}

.cards__title {
    color: #13183f;
    font-weight: 800;
    font-size: 20px;
    line-height: 25.2px;
    margin-bottom: 16px;
    margin-top: -15px;
}

.cards__content {
    font-weight: 500;
    color: #83869a;
    font-size: 16px;
    line-height: 26px;
    
    /* text-align: center; */
}

.cards__button {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #f74780;
    background-color: white;
    margin-top: 24px;
    margin-bottom: 32px;
}

.cards__button:hover {
    color: #ffa7c3;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #13183f;
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 100%;
}
.footer__skilled {
    color: white;
    font-size: 28px;
    font-weight: 800;
}

.footer__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    padding: 10px 24px;
    background: linear-gradient(#4851ff, #f02aa6);
}

.footer__button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 360px) {
    .heroLeft__title {
        font-size: 34px;
    }
    .heroRight {
        text-align: left;
    }
}

@media only screen and (min-width: 768px) {

    .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 550px auto;
    padding-top: 24px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;

    }

    .heroLeft__title {
        margin-top: 50px;
    }

    .header {
        grid-column: span 2;
    }

    .heroRight {
        /* position: relative; */
        text-align: left;
        /* top: 12rem; */
    }

    .heroRight__image {
        position: absolute;
        /* top: -220px;
        left: 20px; */

        /* object-fit: contain; */
        /* object-position: bottom; */
        max-width: 700px;
        height: auto;
        top: -5rem;
    }
    .cards {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        grid-column: span 2;
    }
    .cards__card {
        max-width: 340px;
        /* flex-shrink: 1; */
    }
    .cards__top {
        max-width: 340px;
        padding-top: 56px;
    }

    footer {
        margin-top: 86px;
    }

}

@media only screen and (min-width: 1024px) {
    .container {
        padding-left: 0;
        padding-right: 0;
        grid-template-rows: auto 720px auto;
        grid-template-columns: 40% 50%;
        max-width: 1110px;
        margin: 0 auto;
    }
    .heroLeft {
        max-width: 460px;
    }
    .heroLeft__title {
        margin-top: 150px;
        font-size: 56px;
        line-height: 70.56px;
        font-weight: 800;
    }
    .heroLeft__content {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
    }

    button {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
    }
    .heroRight {
        position: absolute;
        right: 0;
        max-width: 50%;
        top: 0;
        left: 50%;
        
    }
    .heroRight__image {
        position: absolute;
        max-width: none;
        top: -10rem;
        right: -0rem;

    }

    .cards {
        width: 1110px;
        /* gap: 32px; */
        
        gap: 30px;
        row-gap: 56px;
    }
    .cards__top {
        font-size: 32px;
        line-height: 40px;
        font-weight: 800;
    }
    .cards__title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 800;
    }
    .cards__content {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        min-height: 112px;
    }
    .cards__card {
        padding-left: 32px;
        padding-right: 32px;
        max-width: 350px;
    }
    .cards__title {
        margin-top: 0px;
    }
    .footer__skilled {
        padding-left: 400px;
    }
    .footer__button {
        margin-right: 400px;
    }
    footer {
        margin-top: 140px;
    }
   
}