* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #F2F2F2;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    padding: 16px;
    margin: auto;
}

button {
    text-decoration: none;
    border: none;
    border-radius: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1 / 2;
    margin-bottom: 38px;
}

.header__button {
    background-color: #13183f;
    color: white;
    padding: 11px 24px;
}

.header__skilled {
    color: #13183F;
    font-size: 28px;
    font-weight: 800;

}

.heroLeft {
    grid-row: 2 / 3;
} 

.heroRight__image {
    width: 100%;
}

.heroLeft__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 50.4px;
    margin-bottom: 26px;
}

.heroLeft__content {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
}

.heroLeft__button {
    line-height: 26px;
    font-size: 16px;
    padding: 15px 38px;
    background: linear-gradient(#ff6f48,#F02aa6);
    margin-top: 24px;
    margin-bottom: 46px;

}

.cards {
    
}